.container {
  margin-bottom: -150px;
}

.process {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.process img {
  height: auto;
  display: block;
  align-self: center;
  padding: 10px;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 0 10px 0 10px;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
}

.stepText {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
}

.numberCircle {
  border-radius: 50%;
  background: #61DAFB;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  color: white;
  margin: 10px;
}

.laptop,
.code {
  max-width: 355px;
  width: 100%;
}

.fileTypes {
  max-width: 210px;
  width: 100%;
}

.arrow {
  max-width: 100px;
  width: 50%;
}

@media (max-width: 768px)  {
  .process {
    flex-direction: column;
    align-items: center;
  }

  .stepContainer {
    width: 100%;
  }

  .centerContainer {
    flex-direction: row;
    width: 70%;
    justify-content: center;
  }

  .laptop,
  .code {
    width: 100%;
  }

  .fileTypes {
    width: 60%;
  }

  .arrow {
    width: 40%;
    transform: rotate(90deg);
  }
}