.cta {
    color: white;
    background-repeat: repeat-x;
    text-align: center;
    padding:100px;
    background-image: url('../../assets/sayagata.png');
}

.cta p {
    margin: auto;
    margin-bottom: 20px;
    font-size: 1.5em;
}