.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.process {
  display: flex;
}

.process img {
  max-width: 100%;
  height: auto;
  display: block;
  align-self: center;
}

.laptop {
  width: 40%;
}

.fileTypes {
  width: 20%;
}

.code {
  width: 40%;
}

/*@media (max-width: 480px)  {
  
}*/

@media (max-width: 480px)  {
  .process {
    flex-direction: column;
  }
}