.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.process {
  display: flex;
  padding: 20px 20px 20px 20px;
}

.process img {
  max-width: 100%;
  height: auto;
  display: block;
  align-self: center;
  padding: 0 10px 0 10px;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
}

.laptop {
  width: 40%;
}

.fileTypes {
  width: 100%;
}

.arrow {
  width: 50%;
}

.code {
  width: 40%;
}

@media (max-width: 768px)  {
  .process {
    flex-direction: column;
  }

  .process img {
    padding: 10px 0px 10px 0px;
  }

  .centerContainer {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .laptop,
  .code {
    width: 100%;
  }

  .fileTypes {
    width: 60%;
  }

  .arrow {
    width: 40%;
    transform: rotate(90deg);
  }
}