.header {
  background: rgba(15, 187, 236, 0.8) url('../assets/rain.jpg') no-repeat fixed center center;
  background-size: 100%;
  background-blend-mode: multiply;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo, .tagline {
  color: white;
  display: flex;
  justify-content: center;
}

.logo {
  font-family: "Courier New";
}