.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  background: #282C34;
  color: white;
  font-family: "Roboto";
  font-weight: 300;
}

.container a {
  color: white;
}