@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: KlinicSlab;
  src: url('./assets/fonts/KlinicSlabBold.otf');
  font-weight: 700;
}

html,
body {
  font-family: Roboto;
  margin: 0;
  height: 100%;
  width: 100%;
  color: rgba(0, 0, 0, 87);
}

.app {
  height: 100%;
  width: 100%;
  margin: auto;
}