#myId {
  background-color: red;
}

.test {
  background-color: green;
  display: flex;
  transition: all .5s;
}

.benefitsContainer {
  display: flex;
  justify-content: space-around;
  /*color: white;*/
}

.benefits {
  text-align: center;
}