#myId {
  background-color: red;
}

.test {
  background-color: green;
  display: flex;
  transition: all .5s;
}

.btn {
  display: flex;
  overflow: hidden;
  margin: 10px;
  padding: 12px 50px;
  cursor: pointer;
  user-select: none;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  color: #fff;
  border: 0 none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
}

.ctaButton {
  color: #FFFFFF;
  background: #FF735D;
}

.btn:hover {
  transition: all 60ms ease;
  opacity: .85;
}

.btn:active {
  transition: all 60ms ease;
  transform: scale(0.97);
  opacity: .75;
}